<section *ngIf="hero">
    <h3> {{hero.name}} </h3>

    <div class="heroic-information-container">
        <span> ID: {{hero.id}} </span>

        <span>
            <label for="new-name-input">
                Name:
            </label>
            <input
                [(ngModel)]="hero.name"
                id="new-name-input"
                type="text"
            />
            <button
                type="submit"
                (click)="onSubmit({
                    name: hero.name,
                    id: hero.id
                })"
            >
                Submit
            </button>
        </span>

        <button (click)="goBack()">
            Back
        </button>
    </div>
    
</section>
<section *ngElse>
    No heroic information available yet.
</section>
