.heroic-information-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
}

.heroic-information-container > button {
    align-self: flex-start;
    background-color: skyblue;
}
