<h2>Products</h2>

<ul id="product-list-container">
    <li *ngFor="let product of products">
        <a
            [title]="'Additional ' + product.name + ' information'"
            [routerLink]="['/products', product.id]"
        >
            {{product.name}}
        </a>
        ({{product.price}}€) <br />
        <p *ngIf="product.description">
            {{product.description}} <br />
            Yup, that's a description alright
        </p>
        <br />
        <button (click)="share()">
            Get other things
        </button>
        <br />
        <app-product-notifications
            [product]="product"
            (notify)="onNotify()"
        ></app-product-notifications>
        <br />
    </li>
</ul>

<!--{{otherThings | json}}-->
<ul *ngFor="let otherThing of otherThings | async">
    <li>
        {{otherThing.name}}
    </li>
</ul>
